* { margin: 0; padding: 0; font-family: arial; box-sizing: border-box;}

html, body { height: 100%; width: 100%;}

button {
	padding: 3px;
	margin-bottom: 5px;
}

hr {margin: 10px 0;}
h4 {color: greenyellow; padding: 2px 0; margin: 5px 0;}

#presetTitle { position: absolute; left: 225px; top: 20px; font-weight: normal; font-size: 2.5em; color: #888;}

.node { stroke: #fff; stroke-width: 1px; cursor: pointer; }
.link { stroke: #999; stroke-opacity: .4; }

#controls { position: relative; width: 200px; height: 100%; padding: 10px; background-color: #555; z-index: 10; overflow: auto;}
#controls label { display: block; font-size: .8em; color: #CCC; margin-bottom: 2px;}
#controls select { padding: 2px; margin-bottom: 10px; border: solid #CCC 1px; background-color: #EEE; width: 100%;}


#graph {position: absolute; top: 0; left: 0;}

#colorKey { position: absolute; top: 10px; right: 10px; }
#colorKey .colorKeyBlock { width: 10px; height: 10px; display: inline-block;}
#colorKey .colorKeyValue { font-size: .8em; display: inline-block; padding: 2px;}

#ChaosButtons {
	list-style: none;
}
#ChaosButtons button, #HitWithBus{ padding: 2px; margin-bottom: 10px; border: solid #CCC 1px; background-color: #EEE; width: 100%; cursor: pointer; }
#ChaosButtons button:hover{ background-color: white; }
#HitWithBus {padding: 4px; background-color: greenyellow; font-weight: bold; border: solid greenyellow 1px;}
#HitWithBus:hover { background-color: lime; }


.tooltip{ position: absolute; background-color: white; border: solid #CCC 1px; border-radius: 4px; font-size: .6em; color: #666; padding: 5px; text-align: center; }
.tooltip .name { font-size: 1.3em; font-weight: bold; margin: auto;}
.tooltip span { padding: 0 5px; }
.tooltip .location { font-weight: bold;}
.tooltip .role { font-style: italic;}
.tooltip .team { color: orange;}
.tooltip .hit { font-weight: bold; color: red;}